#spdyindicator-icon[state=http2] {
    list-style-image: url("chrome://spdyindicator/skin/icon-http2-active.png");
}
#spdyindicator-icon[state^=spdy] {
    list-style-image: url("chrome://spdyindicator/skin/icon-spdy-active.png");
}
#spdyindicator-icon[state=subactive] {
    list-style-image: url("chrome://spdyindicator/skin/icon-spdy-subactive.png");
}
#spdyindicator-icon {
    cursor: default;
    height: 16px;
}
